@tailwind base;

/* @font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 900;
  src: url("../src/core/assets/Fonts/Kalameh/TTF/Kalameh-Black.ttf") format("truetype"),
    url("../src/core/assets/Fonts/Kalameh/woff/KalamehWeb-Black.woff") format("woff"),
    url("../Fonts/Kalameh/woff2/KalamehWeb-Black.woff2") format("woff2");
} */

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 900;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 800;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 100;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_UltraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 300;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 500;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  src: url("../src/core/assets/Fonts/iransans/IRANSans.ttf") format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 600;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 200;
  src: url("../src/core/assets/Fonts/iransans/IRANSans_Light.ttf")
    format("truetype");
}

html {
  background-color: rgb(var(--background));
}

body {
  font-family: "Kalameh", sans-serif;
  direction: rtl;
  padding: 0;
  margin: 0;
  overflow: initial;
  /* Body Width doesnt fit 100% Device Screen. change thid atr later */
  min-width: 312px;
}

@tailwind components;

.dir-rtl {
  direction: rtl;
}
.dir-ltr {
  direction: ltr;
}

@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
